#loadkey {
    left: 425px;
}
#skillpoint1 {
    left: 336px;
}
#skillpoint2 {
    left: 366px;
}
#specialpointext {
    left: 40px;
}
#totalkey {
    left: 407px;
}

#textswitch1 {
    left: 7px;
}

#textswitch3 {
    left: 176px;
}